*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flexbox;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    list-style-type: none;
    display: inline-block;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}



/* a {
    text-decoration: none;
    color: #808080;
} */



.about-section{
    background: url('images2/Artichoke_sheers-6_800x.jpg') no-repeat left ;
    background-size: 55%;
    background-color: white;
    overflow: hidden;
    padding: 100px 0;
}

.inner-container{
    width: 55%;
    float: right;
    background-color: white;
    padding:150px;

}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text {
    font-size: 13px;
    color:gray;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;

}

.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}

